<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="assessments" color="primary">
        <ion-icon name="speedometer-sharp" color="primary"></ion-icon>
        <ion-label color="primary">Assessments</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="objetivos">
        <ion-icon name="rocket-sharp" color="primary"></ion-icon>
        <ion-label color="primary">Objetivos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="actividades">
        <ion-icon name="book-sharp" color="primary"></ion-icon>
        <ion-label color="primary">Actividades</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  

</ion-content>
