ion-content{

    --overflow: hidden;
    --padding-end: 20px;
    --padding-start: 20px;
    --background: #ffffff;
    --padding-top: 100px;

    .imgLogo{
        width: 25%;
    }
}

.registro{
    border: none !important;
    font-size: 1.1rem;
    text-decoration:none;
}

.form{

    background-color: #ebebeb;
    padding: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

    .smallLogo{
        margin-bottom: 20px;
    }

    ion-list{
        background-color: #ebebeb;
    }

    ion-item {
        height: 50px;
        margin-bottom: 25px;
        border: #b1b4b7 2px solid;
        border-radius: 8px;
        --background: #ffffff;
        color: #000000;

        ion-input{
            border: none;
            color: #000000;
            --background: #ffffff;

        }
    }   
    
    ion-button{
        padding-top: 10px;
        font-weight: 400;
    }
    .ion-title{
        color: #000000;
    }

    .ion-icon-eye{
        color: #15873f;

    }
}